       /*------top banner-----*/

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin: 0px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.h1margin{
    margin-top: 5%;
    
}
.half-width img{
    width: 90%;
}
.half-width a{
    margin-top: 30px;
}
.link-button{
    
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

       /* -------mid banner------*/

#mid-banner-img{
    width: 70%;
    height: 80%;
    margin-left: 10%;
}
.mid-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#img-button{
    margin-top: 60px;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

/*        on-third-width       */


.one-third-section h2{
    text-align: center;
    margin-bottom: 15px;
}
#paragraph{
    text-align: center;
}
.one-third-width{
    display: flex;
}
.one-third-element{
    width: 24.33%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 25px;
    padding-top: 20px;
    box-shadow: 5px 5px 20px grey;
    border-radius: 20px;
}
.one-third-element img{
    width: 90%;
    height: 50%;
    
}

.social-media{
    display: flex;
    margin-top: 7%;
    margin-left: 2%;
    width: 95%;
    box-shadow: 5px 5px 20px grey;
    border-radius: 20px;
    
}
.social-media div{
    padding: 3% 10%;
}
 