       /*------top banner-----*/
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin: 0px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.h1margin{
    margin-top: 8%;
}
.half-width img{
    width: 90%;
}
.link-button{
    margin: 40px;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

       /* -------mid banner------*/

#mid-banner-img{
    width: 70%;
    height: 80%;
    margin-left: 10%;
}
.mid-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#img-button{
    margin-top: 50px;
    margin: 40px;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}